.token-table-container {
  width: 60%; /* Adjust the width as needed */
  margin: 20px auto; /* Centers the table on the page */
}

.token-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  table-layout: fixed; /* This helps with consistent column sizing */
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 0.9em;
  overflow: hidden; /* Ensures content doesn't overflow cells */
  text-overflow: ellipsis; /* Adds an ellipsis to text that overflows */
  white-space: nowrap; /* Keeps the content on a single line */
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85em;
}

button.delete-button {
  background-color: transparent;
  color: #333;
  border: none;
}

button.delete-button:hover {
  color: #dc3545;
}

button.add-button {
  background-color: #333;
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85em;
  margin-bottom: 10px; /* Adjust the margin as needed */
  text-align: left;
}

input[type="text"] {
  width: 90%; /* Makes the text box a bit smaller than the cell */
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto; /* Centers the text box in the cell */
  display: block;
}

